@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.main {
    display: flex;
    position: absolute;
    left: 50%;
    top: 40%;
}

.kto {
    background: #181818;
}

.twitch {
    background-color: #181818;
    width: 7rem;
    height: 4rem;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.tg {
    background-color: #181818;
    width: 7rem;
    height: 4rem;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.twitch:hover {
    background-color: #9146FF;
    width: 7rem;
    height: 4rem;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
}

.tg:hover {
    background-color: #22a8e8;
    width: 7rem;
    height: 4rem;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
}

.btntw {
    display: flex;
    position: absolute;
    left: 100%;
    top: 100%;
    transform: translate(17%, 50%);
}

.btntg {
    display: flex;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-120%, 50%);
}

.btnictw {
    padding-left: 2.05rem;
    padding-top: .5rem;
}

.btnictg {
    padding-left: 1.6rem;
}

.twitch:hover {
    background-color: #9146FF;
    width: 7rem;
    height: 4rem;
    border-radius: 40px;
    position: relative;
}

.tg:hover {
    background-color: #22a8e8;
    width: 7rem;
    height: 4rem;
    border-radius: 40px;
    position: relative;
}

.btntw:hover {
    display: flex;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(17%, 50%);
}

.btntg:hover {
    display: flex;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-120%, 50%);
}

.btnictw:hover {
    padding-left: 2.05rem;
    padding-top: .5rem;
}

.btnictg:hover {
    padding-left: 1.6rem;
}