@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
    background-color: #181818;
}

.main {
    display: flex;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}


