@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
body {
    background-color: #1e1e2e;
    display: flex;
    justify-content: center;
}
p, a {
    color:#cba6f7;
    font-family: 'Fira Code', monospace;
}
a:hover {
    color: #74c7ec;
    text-decoration: none;
}
#chromium {
    font-size: 12px;
    visibility: hidden;
}