* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Manrope, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section {
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    font-size: 6rem;
    color: #59178a;
    padding: 1rem;
    margin:  2rem 0;
    background: rgba(70, 70, 70, 0.07);
}

.heading span{
    color:#4c0070;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover {
    color: #797979;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo {
    font-size: 3rem;
    color: #545454;
}

#sacred {
    color: #ff0034;
}

#mine {
    color: #00af11;
}

#dark {
    color: #545454;
}

#toplayer {
    text-decoration: line-through rgb(68, 68, 68);
}

#self {
    color: darkgrey;
}

#deliv {
    color: darkgray;
}

header .navbar a {
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #545454;
}

header .navbar a:hover {
    color: #59178a;
}

header #toggler {
    display: none;
}

header .fa-bars {
    font-size: 3rem;
    color: #59178a;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0,0,0,.3);
    display: none;
}

.home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background:url(home-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content {
    max-width: 50rem;
    }
    
.home .content h2 {
    font-size: 6rem;
    color: #59178a;
}
    
.home .content span {
    font-size: 3.5rem;
    color: #797979;
    padding: 1rem 0;
    line-height: 1.5;
}
    
.about .row{
    display: flex;
    align-items: right;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
    background: url(about-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
}
  
.about .row .content {
    align-items: right;
}
  
.about .row .content h2 {
    font-size: 5rem;
    color: #797979;
    text-align: left;
}

.about .row .content p {
    font-size: 3rem;
    color: #797979;
    text-align: left;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

.products .productes {
    text-align: center;
    font-size: 5rem;
    color: #59178a;
    padding: 1rem;
    margin: 2rem 0;
}
  
.products .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
  
.products .box-container .box {
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.1);
    position: relative;
}
  
.products .box-container .box .discount {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: .7rem 1rem;
    font-size: 2rem;
    color: #59178a;
    background: rgba(80, 80, 80, 0.05);
    z-index: 1;
    border-radius: .5rem;
}

.products .box-container .box .image {
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}

.products .box-container .box .image img {
    height: 25rem;
}

.products .box-container .box:hover .image img {
    transform: scale(1.1);
}

.products .box-container .box .image .icons {
    position: absolute;
    bottom: -7rem;
    left: 0;
    right: 0;
    display: flex;
}

.products .box-container .box:hover .image .icons {
    bottom:0;
}

.products .box-container .box .image .icons a {
    height: 4rem;
    line-height: 4rem;
    font-size: 2rem;
    width: 100%;
    background: #59178a;
    color: #fff;
}

.products .box-container .box .image .icons a:hover {
    background: #333;
}

.products .box-container .box .content {
    padding: 2rem;
    text-align: center;
}

.products .box-container .box .content h2 {
    font-size: 2.5rem;
    color:#333
}

.products .box-container .box .content .price {
    font-size: 2.5rem;
    color: #59178a;
    font-weight: bolder;
    padding-top: 1rem;
}

.products .box-container .box .content .price span{
    font-size: 1.5rem;
    color: #4c0070;
    font-weight: lighter;
    text-decoration: line-through;
}








@media(max-width: 991px) {
    html {
        font-size: 55%;
    }
    
    header {
        padding: 2rem;
    }
    
    section {
        padding: 2rem;
    }
    
    .home {
        background-position: left;
    }
}

@media(max-width: 768px) {
    header .fa-bars{
        display: block;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0px;
        right: 0px;
        background: #eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    
    header #toggler:checked ~ .navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    
    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0,0,0,.1);
        display: block;
    }
    
    .home .content h2 {
        font-size: 5rem;
    }
    
    .home .content span {
        font-size: 2.5rem;
    }
}

@media(max-width: 450px) {
    html {
        font-size: 50%;
    }

    .heading {
        font-size: 3rem;
    }
}